
<form name="createForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Code</label>
    <input type="text" name="codeInput" class="form-control" ng-model="form.code" placeholder="code">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" name="nameInput" class="form-control" ng-model="form.name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Population</label>
    <input type="text" name="populationInput" class="form-control" ng-model="form.population" placeholder="population" required>
   
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Language</label>
    <input type="text" name="languageInput" class="form-control" ng-model="form.language" placeholder="language">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">City</label>
    <input type="text" name="cityInput" class="form-control" ng-model="form.city" placeholder="city">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">River</label>
    <input type="text" name="riverInput" class="form-control" ng-model="form.river" placeholder="river" required>
   
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Something Cool</label>
    <input type="text" name="somethingCoolInput" class="form-control" ng-model="form.somethingcool" placeholder="somethingCool">
  </div>

  <button type="submit" class="btn btn-success" ng-click="save()">Submit</button>
  <button type="submit" class="btn btn-warning" ng-click="cancel()">Reset</button>
</form>
