<input type="text" ng-model="tableSearch3" placeholder="search" class="form-control" id="searchInput1"><br>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <td>cose</td>
            <td>name</td>
            <td>population</td>
            <td>language</td>
            <td>city</th>
            <td>river</th>
            <td>somethingCool</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="stf in stefan | filter : tableSearch3">
            <td contenteditable="true" ng-model="stf.code">{{stf.code}}</td>
            <td contenteditable="true" ng-model="stf.name">{{stf.name}}</td>
            <td contenteditable="true" ng-model="stf.population">{{stf.population}}</td>
            <td contenteditable="true" ng-model="stf.language">{{stf.language}}</td>
            <td contenteditable="true" ng-model="stf.city">{{stf.city}}</td>
            <td contenteditable="true" ng-model="stf.river">{{stf.river}}</td>
            <td contenteditable="true" ng-model="stf.somethingcool">{{stf.somethingcool}}</td>
            <td><i class="fa fa-trash deleteRow" ng-click="delete(stf.code)"></i></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success"  id="saveTable" ng-click="save()"><i class="fa fa-check"></i> save</button>
<button class="btn btn-info" ng-disabled="editDisabled" id="editTable" ng-click="editTable()"><i class="fa fa-edit"></i> edit</button>
<button class="btn btn-warning" id="addNewRow" ng-click="addNew()"><i class="fa fa-plus"></i> add</button>
