<!-- FIRST TABLE - DYNAMIC -->
<div class="row">
    <div class="col-md-12">
        <input type="text" ng-model="tableSearch" placeholder="search" class="form-control" id="searchInput1"><br>
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <td ng-repeat="(key, value) in users[0]">{{key}}</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usr in users | filter : tableSearch">
                    <td ng-repeat="(key, value) in usr">
                        <span ng-if="value" contenteditable="true" ng-model="usr.key" data-test="{{usr.key}}">{{value}}</span>
                        <span ng-if="!value">empty</span>
                    </td>
                    <td><i class="fa fa-trash deleteRow" ng-click="deleteSelectedRow($index)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br>

<!-- SECOND TABLE - STATIC WITH EDIT AND ADD -->
<input type="text" ng-model="tableSearch2" placeholder="search" class="form-control" id="searchInput1"><br>
<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <td>prva</td>
            <td>druga</td>
            <td>treca</td>
            <td>cetvrta</td>
            <td>peta</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="usr in users | filter : tableSearch2">
            <td contenteditable="true" ng-model="usr.id">{{usr.id}}</td>
            <td contenteditable="true" ng-model="usr.name">{{usr.name}}</td>
            <td contenteditable="true" ng-model="usr.status">{{usr.status}}</td>
            <td contenteditable="true" ng-model="usr.group">{{usr.group}}</td>
            <td contenteditable="true" ng-model="usr.groupName">{{usr.groupName}}</td>
            <td><i class="fa fa-trash deleteRow" ng-click="deleteSelectedRow($index)"></i></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-success"  id="saveTable" ng-click="saveTable()"><i class="fa fa-check"></i> save</button>
<button class="btn btn-info" ng-disabled="editDisabled" id="editTable" ng-click="editTable()"><i class="fa fa-edit"></i> edit</button>
<button class="btn btn-warning" id="addNewRow" ng-click="addNewRow()"><i class="fa fa-plus"></i> add</button>

<br><br><br>

<!--THIRD TABLE - TABLE DIRECTIVE -->
<p8-table editable="true" http-link="http://stefanvukovic.me/p8/yii/api/web/v1/countries"></p8-table>
